button#submitPath {
    background-color:  darkgrey;
    color: white;
    margin-left: 200px;
}
button#submit2 {
    background-color:  darkgrey;
    color: white;
    margin: 10 auto;
    margin-left: 20px;
}

select{
	text-align: center;
	width: auto;
	display: block;
	/*margin: 0 auto;*/
	vertical-align: middle;
	margin-left: 70px;
    /*margin-right: 20px;*/
	margin-top: 10px;
	/*margin: 0 auto;*/
}

label{
    margin-left: 20px;
}